name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:

  build:

    runs-on: python:3.9


    steps:
      - uses: actions/checkout@v2
     - name: Build the Docker image
      run: docker build . --file Dockerfile --tag akshaykamath69/pythongit:latest
    - name: Push the Docker image
      run: docker login -u akshaykamath69 -p ${{ secrets.DOCKER_TOKEN }} && docker push akshaykamath69/pythongit:latest

     
